body{
 		background-image: url("back.jpg");
 		background-size: cover;
 		background-attachment: fixed;
 	}

.wrap{
background: blue;
width: 900px;
margin: 10px auto;
}

/*bagian header*/
.wrap .header{
background: green;
/*height: 50px;*/
padding: 2px 10px;
}

/*akhir header*/

.clear{
clear: both;
}

.badan{
height: 450px;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
background: orange;
float: left;
width: 25%;
height: 100%;
}

/*akhir sidebar*/

.wrap .badan .content{
background: red;
float: left;
height: 100%;
width: 75%;
}

.wrap .footer{
width: 100%;
padding: 10px;
}